@font-face {
  font-family: 'Poppins Ligth';
  src: url('/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('/fonts/Poppins-Black.ttf') format('truetype');
}

