.content_main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

._content_video_show_ {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

._content_video_show_::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

.display_none {
    display: none !important;
}

.fondo_juego {
    position: relative;
    z-index: 10;
}