<div class="content_observacion_integrador">
    <div class="content_box_comentario">
        <h4>Comentarios:</h4>
        <div class="content_excel_chat">
            <a href="https://docs.google.com/spreadsheets/d/1oZVs6mlve0hngitQLMmGnJx_W9spofKnm13aIZb5gJw/edit?gid=0#gid=0" target="_blank">
                <img class="item_admin_promotor" id="admin_excel" title="Admin Mensaje" src="/resource/excel_logo.png" alt="Integrador">
            </a>
        </div>
        <p class="recargarcomentario" id="recargarcomentario">Recargar comentarios</p>
        <br />
        <div class="content_control_observacion_integrador">
            <input class="form-control campo_1" type="text" name="desc_obser_integrador" id="desc_obser_integrador"
                placeholder="Comentario...">
            <img title="Enviar mensaje" id="img_send_obs" src="/resource/send-message.png" alt="promoAladdin">
            <div id="mini_spinner_any" class="mini_spinner_any"></div>
        </div>
        <br />
        <div class="GetDataOberservacion">
            <div id="mini_spinner_observacion_integrador" class="mini-spinner-observacion-integrador"></div>
            <div id="GetDataOberservacion"></div>
        </div>
    </div>
</div>