.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main_content_results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(180deg, #000000a6, #000000a6),
        url(/eventos/resources/people-celebrating-world-population-day.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    gap: 10px;
    padding: 60px 0;
}

.main_content_results>h3 {
    text-align: center;
}

.back_marcador {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    font-style: bold;
    text-decoration: none;
}

.back_marcador img {
    width: 100%;
}

.content_logo_marca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    max-width: 1000px;
}

.content_logo_marca>img {
    width: 250px;
    margin-bottom: 20px;
}

.content_inputs_results {
    display: none;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1000px;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    border: white 1px solid;
    border-radius: 20px;
    color: white;
    position: relative;
}

.content_inputs_results p {
    margin: 0;
}

.content_validate_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 300px;
    padding: 20px 0;
}

.content_validate_user input {
    width: 250px;
}

.content_btn_iniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.btn_register {
    display: none;
    margin-top: 20px;
}

.content_card_marcador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: white 1px solid;
    width: 50%;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

.content_card_marcador p {
    text-align: center;
}

.content_btn_marcador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card_marcador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.card_marcador img {
    width: 45px;
    height: 45px;
}

.card_marcador input {
    width: 60px;
}

.card_marcador input::-webkit-outer-spin-button,
.card_marcador input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

._input_equipo_ {
    width: 120px !important;
}

.btn_cerrar_session {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.fecha_match {
    display: none;
    position: absolute;
    right: 150px;
    bottom: 0;
    width: auto;
}

.user_logeado {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.item_disable {
    opacity: 0.7;
    pointer-events: none;
}

.content_seccion_32_equipo_ {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content_seccion_32_equipo_ h2 {
    margin-top: 20px;
    color: white;
}

._seccion_32_equipo_ {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 95%;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    border: white 1px solid;
    border-radius: 20px;
    color: white;
    position: relative;
}

.content_octavos_final {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content_octavos_final h2 {
    margin-top: 20px;
    color: white;
}

._octavos_final {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 95%;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    border: white 1px solid;
    border-radius: 20px;
    color: white;
    position: relative;
}

.content_cuartos_final {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content_cuartos_final {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content_cuartos_final h2 {
    margin-top: 20px;
    color: white;
}

._cuartos_final {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 95%;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    border: white 1px solid;
    border-radius: 20px;
    color: white;
    position: relative;
}

.content_semifinal_ {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content_semifinal_ h2 {
    margin-top: 20px;
    color: white;
}

._semifinal_ {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 95%;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    border: white 1px solid;
    border-radius: 20px;
    color: white;
    position: relative;
}

.content_tercer_lugar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content_tercer_lugar h2 {
    margin-top: 20px;
    color: white;
}

._tercer_lugar_ {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 95%;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    border: white 1px solid;
    border-radius: 20px;
    color: white;
    position: relative;
}

._content_final_ {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

._content_final_ h2 {
    margin-top: 20px;
    color: white;
}

._final_ {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 95%;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    border: white 1px solid;
    border-radius: 20px;
    color: white;
    position: relative;
}

@media(max-width: 768px) {
    .user_logeado {
        position: relative;
    }

    .btn_cerrar_session {
        position: relative;
    }

    .fecha_match {
        position: relative;
    }

    .content_card_marcador {
        width: 100%;
    }

    .content_logo_marca {
        flex-direction: column;
    }
}