.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main_content_results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(180deg, #000000a6, #000000a6), url(/eventos/resources/people-celebrating-world-population-day.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    gap: 10px;
    padding: 60px 0;
}

.main_content_results>h3 {
    text-align: center;
}

.content_logo_marca {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1000px;
}

.content_logo_marca img {
    width: 250px;
    margin-bottom: 20px;
}

.content_inputs_results {
    display: none;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1000px;
    height: 100%;
    padding: 20px;
    border: white 1px solid;
    border-radius: 20px;
    color: white;
    position: relative;
}

.content_inputs_results p {
    margin: 0;
}

.content_validate_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 300px;
    padding: 20px 0;
}

.content_validate_user input {
    width: 250px;
}

.content_btn_iniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.btn_register {
    display: none;
}

.content_card_marcador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: white 1px solid;
    width: 50%;
    margin-bottom: 10px;
}

.content_card_marcador p {
    text-align: center;
}

.content_btn_marcador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card_marcador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.card_marcador img {
    width: 45px;
    height: 45px;
}

.card_marcador input {
    width: 60px;
}

.btn_cerrar_session {
    position: absolute;
    bottom: 0;
    right: 0;
}

.user_logeado {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

@media(max-width: 768px) {
    .content_card_marcador {
        width: 100%;
    }
}