@font-face {
    font-family: 'super wonder';
    src: url('/fonts/Super\ Wonder.ttf') format('truetype');
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid #356adc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

._main_content_descu_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    gap: 20px;
    color: white;
    font-family: 'super wonder', sans-serif !important;
}

._content_video_show_ {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

._content_video_show_::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.267);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

._board_ {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px;
    gap: 20px;
}

._casillas_descu_ {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 60px;
    width: 140px;
    height: 140px;
    text-shadow: black 1px 1px 10px;
    /* border: solid 10px;
    border-image: linear-gradient(to right, #12ffff, #005c5c) 1;
    background-image: linear-gradient(120deg, #ff0a0a, #be03039a);
    border-radius: 20px !important; */
    transition: all 0.4s ease;
    overflow: hidden;
}

._casillas_descu_:hover {
    transform: scale(1.2);
    cursor: pointer;
}

._casillas_descu_::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/dinamicas/descubiertos/resources/maletin_plata.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

._content_accion_contraoferta_ {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

._content_accion_contraoferta_ img {
    width: 180px;
    transform: rotateY(180deg);
    transition: all 0.4s ease;
}

._content_accion_contraoferta_ img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

._img_contra_oferta {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.527);
}

._img_megafono_ {
    width: 60%;
}

._img_close_boton {
    width: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.4s ease;
}

._img_close_boton:hover {
    opacity: 0.7;
    cursor: pointer;
}

._content_controls_msg_ {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    font-size: 30px;
}

._content_controls_msg_ p {
    margin: 0;
}

._content_control_result_ {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    font-size: 30px;
}

._content_control_result_ p {
    margin: 0;
}

.ficha_chose {
    pointer-events: none !important;
}

._content_controls_ {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.premio_show {
    font-size: 20px !important;
    pointer-events: none;
}