<div id="loader-user" class="loader-user">
    <div class="spinner-user"></div>
</div>
<section class="content_main_usuarios">
    <div style="display: none;" class="content_info_usuarios_all">
        <a target="_blank" title="Usuarios All"
            href="https://docs.google.com/spreadsheets/d/1tkD5IkExIG7HJ3gFgV8Aw6vdIedseydJP5Hjg2VpzWM/edit?gid=0#gid=0"><img
                src="/resource/excel_logo.png" alt="Aladdin"></a>
        <div class="content_title_info">
            <h2>Todos los Usuarios</h2>
            <input type="text" id="buscar_usuario" class="form-control search_promo" placeholder="Buscar...">
            <br />
        </div>
        <div id="content_table_info" class="content_table_info"></div>
    </div>
</section>
<div id="modal_usuario" class="modal_user"></div>

