.view_info_user {
    display: none;
}

.modal_info_funcionario {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(75, 74, 74, 0.7);
    width: 100vw;
    height: 100vh;
}

.modal_content_funcionario {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 680px;
    height: 100%;
    max-height: 500px;
    overflow: auto;
    background-color: white;
    color: #1F253A;
    border-radius: 4px;
    position: relative;
    padding: 20px;
}

.modal_content_funcionario>h2 {
    margin-bottom: 15px;
}

.close_funcionario {
    position: absolute;
    right: 30px;
    top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 10px;
    border-radius: 100%;
    height: 27px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.close_funcionario:hover {
    background-color: #1F253A;
    color: white;
}

.content_img_user {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    border-top: #1f253a59 1px solid;
    border-bottom: #1f253a59 1px solid;
    padding: 5px 0;
}

.content_img_user img {
    width: 100px;
    border-radius: 50%;
}

.content_date_funcionario {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 5px;
}

.content_date_funcionario>p {
    width: 50%;
}

.content_date_funcionario input {
    width: 100%;
}

.update_user {
    display: none;
}


.loader-user-u {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
}

.spinner-user-u {
    border: 6px solid #ccc;
    border-top: 6px solid #dc3545;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: 768px) {
    .modal_content_funcionario {
        width: 100%;
        max-height: 100vh;
        font-size: 12px !important;
    }
}