* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins Ligth', sans-serif !important;
}

body {
    overflow-x: hidden;
    font-size: 62.5% !important;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid rgb(141, 143, 11);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content_main_DP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #1f253aa8), url(/dinamicas/promocion-dados-de-poker/resource/FONDO-DADOS-DE-POKER-ALADDIN-2025.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_logo_DP {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content_logo_DP img {
    width: 320px;
}

.content_opciones_DP {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.content_opciones_DP img {
    width: 30px;
    transition: all 0.4s ease;
}

.content_opciones_DP img:hover {
    opacity: 0.7;
    cursor: pointer;
}


.modal_opciones_DP {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.content_modal_DP {
    width: 950px;
    height: 100%;
    max-height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    position: relative;
}

.content_head_modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 10px 0;
    width: 100%;
    font-size: 12px;
}

.content_head_modal p:hover {
    opacity: 0.7;
    cursor: pointer;
}

.close_modal_icon {
    font-size: 16px;
    position: absolute;
    border-radius: 20px;
    padding: 0 8px;
    top: -10px;
    right: 0px;
    transition: all 0.4s ease;
}

.close_modal_icon:hover {
    background-color: rgb(0, 0, 58);
    color: white;
    border-radius: 20px;
    padding: 0 8px;
    opacity: 0.7;
    cursor: pointer;
}

.content_body_modal {
    width: 100%;
    height: 100%;
    max-height: 400px;
    overflow: auto;
}

.info_body_modal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.input_modal_DP {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 10px;
}

.input_modal_DP input {
    width: 200px;
}

.input_modal_DP select {
    width: 200px;
}


.select_menu {
    border-bottom: #791706 1px solid;
}

.content_head_modal p:hover.select_menu {
    border-bottom: #995d02 1px solid;
}

.board_DP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 15px;
}

.content_controls_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.content_box_combi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.card_box_ {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    background-color: white;
    background-image: url(/dinamicas/promocion-dados-de-poker/resource/cuadro_blanco.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn_DP {
    font-size: 30px !important;
}

.par {
    background-color: green !important;
    animation: sombra-animada-img 2s infinite;
    background-image: url(/dinamicas/promocion-dados-de-poker/resource/cuadro_verde.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.par-full-house {
    background-color: blue !important;
    animation: sombra-animada-img 2s infinite;
    background-image: url(/dinamicas/promocion-dados-de-poker/resource/cuadro_azul.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.no_figura {
    background-color: red !important;
    animation: sombra-animada-img 2s infinite;
    background-image: url(/dinamicas/promocion-dados-de-poker/resource/cuadro_rojo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.msj_combi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: white;
}

.controls_board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.notificacion_registro_dia {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    z-index: 10;
    font-size: 4rem;
    color: #000;
    position: absolute;
    top: 0;
    right: -5px;
}

.content_opcion_head {
    position: relative;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.styled-table {
    width: 100%;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table thead {
    background: #791706;
    color: #fff;
    transition: all 0.4s ease;
}

.styled-table thead:hover {
    background: #bb7101;
}

.styled-table th,
.styled-table td {
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    background-color: #fff;
    color: #000;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table tr>:first-child {
    font-weight: 700;
}

.disable_btn_board {
    pointer-events: none;
    opacity: 0.7;
}

.table_input_bono_dado {
    width: 40px;
    font-size: 0.5rem;
    border: rgb(219, 219, 219) solid 1px;
    border-radius: 10px;
    padding: 3px 4px;
}

.table_input_bono_dado:focus {
    outline: none;
    border: #aaaaaa solid 1px;
}

.table_ya_tiene_bono {
    color: rgb(8, 209, 8);
    font-size: 0.5rem;
}

.table_btn_enviar_bono {
    color: white !important;
    border: none !important;
    padding: 2px 5px !important;
    font-size: 0.5rem !important;
    transition: all 0.4s ease !important;
    border-radius: 4px !important;
}

.table_btn_enviar_bono:hover {
    background-color: #4c4c69;
}


.datos_column_modal {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.datos_column_modal select,
.datos_column_modal input {
    width: 180px;
}

.datos_column_modal textarea {
    width: 300px;
    height: 150px;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
    font-size: 1rem;
    border: #eee solid 1px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.datos_column_modal textarea:focus {
    border: #aaaaaa solid 1px;
}

.vista_table_premios {
    text-align: center;
}

.title_msg_premio {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 30px 14px 16px black;
}


.logo_DP {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    animation: fadeCycle 6s infinite;
    transition: opacity 1s ease-in-out;
}

/* Primera imagen visible primero */
.logo_DP:nth-child(1) {
    animation-delay: 0s;
}

/* Segunda imagen aparece luego */
.logo_DP:nth-child(2) {
    animation-delay: 3s;
}

@keyframes fadeCycle {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.posi_DP_1 {
    position: relative;
    left: 150px;
}


.posi_DP_2 {
    position: relative;
    right: 150px;
}



@keyframes sombra-animada-img {
    0% {
        filter: drop-shadow(0 0 20px #fff);
    }

    5% {
        filter: drop-shadow(0 0 18px #fff);
    }

    10% {
        filter: drop-shadow(0 0 16px #fff);
    }

    15% {
        filter: drop-shadow(0 0 14px #fff);
    }

    20% {
        filter: drop-shadow(0 0 12px #fff);
    }

    25% {
        filter: drop-shadow(0 0 10px #fff);
    }

    30% {
        filter: drop-shadow(0 0 12px #fff);
    }

    35% {
        filter: drop-shadow(0 0 14px #fff);
    }

    40% {
        filter: drop-shadow(0 0 16px #fff);
    }

    45% {
        filter: drop-shadow(0 0 18px #fff);
    }

    50% {
        filter: drop-shadow(0 0 20px #fff);
    }

    55% {
        filter: drop-shadow(0 0 18px #fff);
    }

    60% {
        filter: drop-shadow(0 0 16px #fff);
    }

    65% {
        filter: drop-shadow(0 0 14px #fff);
    }

    70% {
        filter: drop-shadow(0 0 12px #fff);
    }

    75% {
        filter: drop-shadow(0 0 10px #fff);
    }

    80% {
        filter: drop-shadow(0 0 12px #fff);
    }

    85% {
        filter: drop-shadow(0 0 14px #fff);
    }

    90% {
        filter: drop-shadow(0 0 16px #fff);
    }

    95% {
        filter: drop-shadow(0 0 18px #fff);
    }

    100% {
        filter: drop-shadow(0 0 20px #fff);
    }
}