<div class="content_view_init">
    <div class="content_card_view_publicacion">
        <div class="content_casino_1">
            <div class="contento_img_casino">
                <img src="/resource/aladdin.png" alt="integradorAladdin">
            </div>
            <div class="content_logo_excel">
                <a target="_blank"
                    href="https://docs.google.com/spreadsheets/d/15gCmXjc5Na7FND1GjQSXmX7T91wy-mo1_uusylYNlCc/edit?gid=0#gid=0">
                    <img src="/resource/excel_logo.png" alt="integradorAladdin">
                </a>
            </div>
            <div class="content_acciones_casino">
                <div class="content_entradas_casino">
                    <input placeholder="Pega la url de Aladdin" type="text" id="val_url_ins">
                    <button id="btn_enviar_url" class="btn_a_1">Enviar Url</button>
                </div>
            </div>
            <div class="message_cargando_insta" id="message_result_ala"></div>

        </div>
        <div class="content_casino_1">
            <div class="contento_img_casino">
                <img src="/resource/logocasino.png" alt="integradorAladdin">
            </div>
            <div class="content_logo_excel">
                <a target="_blank"
                    href="https://docs.google.com/spreadsheets/d/10-YUQK6-sJSRUa1PogKGbuyyY2Yb5A70wJeKc2AEdNY/edit?gid=0#gid=0">
                    <img src="/resource/excel_logo.png" alt="integradorAladdin">
                </a>
            </div>
            <div class="content_acciones_casino">
                <div class="content_entradas_casino">
                    <input placeholder="Pega la url de Marco Polo" type="text" id="val_url_ins_mp">
                    <button id="btn_enviar_url_mp" class="btn_a_1">Enviar Url</button>
                </div>
            </div>
            <div class="message_cargando_insta" id="message_result_mp"></div>

        </div>
    </div>
</div>