* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins Ligth', sans-serif !important;
    font-size: 16px;
}

html,
body {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-size: 62.5% !important;
}

.content_main_page_error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.content_page_error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 100%;
}

.content_img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.content_img img {
    width: 400px;
}

.content_text_page_error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 100%;
}

.content_text_page_error h2 {
    font-size: 4rem;
    opacity: .5;
    font-weight: bold;
}

.content_text_page_error p {
    font-weight: bold;
}

.content_text_page_error a {
    padding: 8px 20px;
    text-decoration: none;
    background-color: blueviolet;
    transition: all 0.4s ease;
    color: white;
    border-radius: 20px;
}

.content_text_page_error a:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media(max-width: 768px) {
    .content_page_error {
        flex-direction: column;
        padding: 40px;
    }

    .content_text_page_error {
        align-items: center;
    }

    .content_text_page_error h2,
    .content_text_page_error p,
    .content_text_page_error a {
        text-align: center;
    }
}