.content_main_create {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: rgba(0, 0, 0, 0.507);
    width: 100% !important;
    position: relative;
}

.content_form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    width: 400px;
    background-color: white;
    padding: 40px;
}

.ver_usuarios {
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.4s ease;
}

.ver_usuarios:hover {
    opacity: 0.7;
}

.content_form h2 {
    color: rgba(0, 0, 0, 0.582);
}

.content_form small {
    text-align: center;
    color: rgba(0, 0, 0, 0.507);
}
