.content_main_create {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: rgba(0, 0, 0, 0.507);
    width: 100% !important;
    position: relative;
}

.content_form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    width: 400px;
    background-color: white;
    padding: 40px;
}

.ver_usuarios {
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.4s ease;
}

.ver_usuarios:hover {
    opacity: 0.7;
}

.content_form h2 {
    color: rgba(0, 0, 0, 0.582);
}

.content_form small {
    text-align: center;
    color: rgba(0, 0, 0, 0.507);
}

.form-control {
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;
    color: #27314F;
    background-color: #ffffff;

    border: 1px solid #cfd4dc;
    border-radius: 6px;

    outline: none;
    transition:
        border-color 0.25s ease,
        box-shadow 0.25s ease,
        background-color 0.25s ease;
}

.form-control:hover {
    border-color: #aeb6c3;
}

.form-control:focus {
    border-color: #3d7bff;
    box-shadow: 0 0 0 3px #3d7aff44;
    background-color: #fff;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f2f2f2;
    color: #8a8a8a;
    border-color: #ddd;
    cursor: not-allowed;
}

select.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
        linear-gradient(45deg, transparent 50%, #555 50%),
        linear-gradient(135deg, #555 50%, transparent 50%),
        linear-gradient(to right, #ddd, #ddd);

    background-position:
        calc(100% - 18px) 50%,
        calc(100% - 13px) 50%,
        calc(100% - 40px) 50%;

    background-size: 5px 5px, 5px 5px, 1px 60%;
    background-repeat: no-repeat;
    padding-right: 42px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #0443cb;
    margin-top: 10px;
    font-size: 16px;
}