<!DOCTYPE html>
<html lang="es">

<head>

    <title>Aladdin: Ruleta Vamos en Grande</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">

</head>

<body data-main-style="/dinamicas/promocion_vamos_en_grande/components/ruleta-dinamica/ruleta-dinamica.css"
    data-main-script="/dinamicas/promocion_vamos_en_grande/components/ruleta-dinamica/ruleta-dinamica.js">
    <div class="loader-overlay" id="loader">
        <div class="spinner"></div>
    </div>
    <div class="content_main_ruleta_vamos">
        <div class="content_img">
            <img src="/dinamicas/promocion_vamos_en_grande/resources/logo_vamos_en_grande.png" alt="Aladdin">
        </div>
        <div class="content_info_ruleta">
            <div class="board_reuleta"></div>
            <div id="resultado"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ sweetalert2@11"></script>
    <script src="/dinamicas/user.js"></script>
    <script src="/dinamicas/extension.js"></script>
</body>

</html>