.roulette-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

#selector {
    position: absolute;
    top: 180px;
    left: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #f2f2f2;
    z-index: 3;
    transform: translateX(-50%);
}

#roulette {
    background: #fff;
    width: 400px;
    height: 400px;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    border-radius: 100%;
    transform: rotate(0deg);
    z-index: 1;
    transition: transform 5s cubic-bezier(0.2, 0.9, 0.4, 1.1);
}

#roulette .roulette-section {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}

#roulette .roulette-section .roulette-section-container {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    padding-top: 60px;
    transform: skewY(60deg) rotate(15deg);
}

#roulette .roulette-section .roulette-section-container p {
    margin-top: 30px;
    transform: rotate(90deg);
}

/* Colores de secciones */
#roulette .roulette-section:nth-child(1) .roulette-section-container {
    background: #df0978;
}

#roulette .roulette-section:nth-child(2) .roulette-section-container {
    background: #8d078d;
}

#roulette .roulette-section:nth-child(3) .roulette-section-container {
    background: #3a63ba;
}

#roulette .roulette-section:nth-child(4) .roulette-section-container {
    background: #4fa1de;
}

#roulette .roulette-section:nth-child(5) .roulette-section-container {
    background: #23bb23;
}

#roulette .roulette-section:nth-child(6) .roulette-section-container {
    background: #46b545;
}

#roulette .roulette-section:nth-child(7) .roulette-section-container {
    background: #88c740;
}

#roulette .roulette-section:nth-child(8) .roulette-section-container {
    background: #f2f215;
}

#roulette .roulette-section:nth-child(9) .roulette-section-container {
    background: #f1b041;
}

#roulette .roulette-section:nth-child(10) .roulette-section-container {
    background: #e35825;
}

#roulette .roulette-section:nth-child(11) .roulette-section-container {
    background: #e01423;
}

#roulette .roulette-section:nth-child(12) .roulette-section-container {
    background: #ffae00;
}

#roulette .roulette-section:nth-child(13) .roulette-section-container {
    background: #df0978;
}

#roulette .roulette-section:nth-child(14) .roulette-section-container {
    background: #8d078d;
}

#roulette .roulette-section:nth-child(15) .roulette-section-container {
    background: #3a63ba;
}

#roulette .roulette-section:nth-child(16) .roulette-section-container {
    background: #4fa1de;
}

#roulette .roulette-section:nth-child(17) .roulette-section-container {
    background: #23bb23;
}

#roulette .roulette-section:nth-child(18) .roulette-section-container {
    background: #46b545;
}

#roulette .roulette-section:nth-child(19) .roulette-section-container {
    background: #88c740;
}

#roulette .roulette-section:nth-child(20) .roulette-section-container {
    background: #f2f215;
}

#roulette .roulette-section:nth-child(21) .roulette-section-container {
    background: #f1b041;
}

#roulette .roulette-section:nth-child(22) .roulette-section-container {
    background: #e35825;
}

#roulette .roulette-section:nth-child(23) .roulette-section-container {
    background: #e01423;
}

#roulette .roulette-section:nth-child(24) .roulette-section-container {
    background: #ffae00;
}

#roulette .roulette-section:nth-child(25) .roulette-section-container {
    background: #ffae00;
}

#roulette .roulette-section:nth-child(26) .roulette-section-container {
    background: #df0978;
}

.button-container {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 5;
}

.button-container button {
    border: none;
    outline: none;
    padding: 15px 60px;
    background: linear-gradient(145deg, #007bff, #0056d8);
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.button-container button:hover {
    background: linear-gradient(145deg, #005ce6, #0042b0);
    transform: scale(1.05);
}

.button-container button:active {
    transform: scale(0.98);
    background: linear-gradient(145deg, #0042b0, #003190);
}

#roulette-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    opacity: 0.8;
    z-index: 10;
    pointer-events: none;
    animation: fall linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(300px) rotate(720deg);
        opacity: 0;
    }
}

.content_confetti {
    position: absolute;
    left: 35%;
    bottom: 300px;
    z-index: 50;
}




@media(max-width: 1366px) {
    .button-container {
        top: -30px;
    }

    .button-container button {
        padding: 8px 20px;
        font-size: 16px;
    }


    #selector {
        top: 17px;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
    }

    .config_view_ruleta {
        position: relative;
        top: 40px;
        z-index: 10;
    }

    .content_info_menu_lat h2 {
        font-size: 16px;
    }

    .olvidar_usuario {
        top: 10px;
    }

}

@media(max-width: 768px) {
    .button-container {
        top: -10px;
    }
}