* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins Ligth', sans-serif !important;
    font-size: 16px;

}

body {
    overflow-x: hidden;
    font-size: 62.5% !important;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid rgb(141, 143, 11);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'digital_7';
    src: url('/fonts/digital-7.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.content_main_cumpleanios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url(/dinamicas/promocion-feliz-cumpleanios/resources/fondo_feliz_cumpleanios.png);
}

.content_info_cumpleanios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content_logo_cumpleanios {
    position: absolute;
    top: 0px;
    left: 0px;
}

.content_logo_cumpleanios img {
    width: 80px;
}

.content_engranaje {
    position: absolute;
    top: 10px;
    right: 10px;
}

.content_engranaje img {
    width: 30px;
    transition: all 0.4s ease;
}

.content_engranaje img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.content_logo_promo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content_logo_promo img {
    width: 320px;
}

.content_controls_cumpleanios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
}

.content_controls_cumpleanios input {
    width: 220px;
}

.board_cumpleanios {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    gap: 5px;
    background-color: rgba(0, 140, 255, 0.705);
    border-radius: 20px;
    padding: 15px;
}

.posicion_cum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #1F253A;
    /* font-family: 'digital_7', sans-serif !important; */
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    transition: background-color 0.15s ease, transform 0.15s ease;
}

.posicion_cum_seleccionado {
    border: 1px white solid;
    background-color: green;
    transform: scale(1.1);
}

.disable_item {
    opacity: 0.7;
    pointer-events: none;
}


/* ==== TABLA RESPONSIVE ==== */
.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 800px;
}

.styled-table thead {
    background: rgb(34, 79, 161);
    color: #fff;
}

.styled-table th,
.styled-table td {
    padding: 8px 8px;
    font-size: 10px !important;
    text-align: center;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    background-color: #fff;
    color: #000;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* MODAL */


.modal_opciones_DP {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.content_modal_DP {
    width: 950px;
    height: 100%;
    max-height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    position: relative;
}

.content_head_modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 10px 0;
    width: 100%;
    font-size: 12px;
}

.content_head_modal p:hover {
    opacity: 0.7;
    cursor: pointer;
}

.close_modal_icon {
    font-size: 16px;
    position: absolute;
    border-radius: 20px;
    padding: 0 8px;
    top: -10px;
    right: 0px;
    transition: all 0.4s ease;
}

.close_modal_icon:hover {
    background-color: rgb(0, 0, 58);
    color: white;
    border-radius: 20px;
    padding: 0 8px;
    opacity: 0.7;
    cursor: pointer;
}

.content_body_modal {
    display: none;
    width: 100%;
    height: 100%;
    max-height: 400px;
    overflow: auto;
}

.info_body_modal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.input_modal_DP {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 10px;
}

.input_modal_DP input {
    width: 200px;
}

.input_modal_DP select {
    width: 200px;
}


.select_menu {
    border-bottom: #791706 1px solid;
}

.content_head_modal p:hover.select_menu {
    border-bottom: #995d02 1px solid;
}



.datos_column_modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 10px 0;
}

.datos_column_modal select,
.datos_column_modal input {
    width: 180px;
    font-size: 16px;
}

.datos_column_modal textarea {
    width: 300px;
    height: 150px;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
    font-size: 16px;
    border: #eee solid 1px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.datos_column_modal textarea:focus {
    border: #aaaaaa solid 1px;
}

.posicion_cum_opacada {
    opacity: 0.4;
    filter: grayscale(100%);
    pointer-events: none;
    transition: opacity 0.5s ease, filter 0.5s ease;
}

.casillaGanadora{
    font-size: 5.5rem;
}

@media(max-width: 1000px){
    .board_cumpleanios{
        max-width: 80%;
    }
}