* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins Ligth', sans-serif !important;
}

body {
    overflow-x: hidden;
    font-size: 62.5% !important;
}


.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content_main_bingo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #3498db71;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.514), black), url(/dinamicas/promocion-bingo-locura/resources/background_bingo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content_all_bingo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

}

.content_all_bingo img {
    width: 500px;
    padding: 45px 0;
}

.content_actions_bingo {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 12px;
    padding: 20px 0;
}

.content_actions_bingo select,
.content_actions_bingo input {
    font-size: 14px;
    width: 100px;
}

.background_bingo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(165, 42, 42, 0.349), rgba(165, 42, 42, 0.349));
    background-position: center;
    background-size: cover;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}

@media(max-width: 768px) {
    .content_all_bingo img {
        width: 100%;
    }

    .content_actions_bingo {
        flex-direction: column;
    }

    .content_actions_bingo select,
    .content_actions_bingo input {
        width: 100%;
    }

    .background_bingo {
        width: 90%;
    }
}