* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins Black', sans-serif !important;
}


.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 6px solid #ccc;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.background-promo {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(/dinamicas/promocion_lo_hacemos_en_grande/resources/FONDO-TV-DADOS-DE-POKER-MARCOPOLO-2025.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.background-promo h2 {
  padding-top: 30px;
  color: white;
  text-align: center;
  font-size: 3rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  padding: 5px 0;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
}

.cell:hover {
  background-color: #ececec;
  cursor: pointer;
}

.cell_select {
  background-color: #ececec;
  pointer-events: none;
}

.result_vista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 50%;
  left: 10%;
  font-size: 6rem;
  font-weight: bold;
}


.content-btn-actions-modal {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.modal-ruleta {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}


.modal-content2-ruleta {
  background-color: #fff;
  padding: 20px;
  width: 600px;
  border-radius: 10px;
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-content2-ruleta h1 {
  text-align: center;
  font-size: 2rem;
}

.modal-content-ruleta {
  background-color: #fff;
  padding: 20px;
  width: 1200px;
  border-radius: 10px;
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.modal-body-ruleta {
  overflow-y: auto;
  max-height: 60vh;
  padding-right: 10px;
}


.content-text-area {
  display: flex;
  align-items: center;
  gap: 5px;
}

.content-text-area textarea {
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 20px;
  padding: 10px;
  border: #eee solid 1px;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.content-text-area textarea:focus {
  border: #aaaaaa solid 1px;
}

.close-ruleta {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.color-gray {
  font-size: 0.8rem;
  color: gray;
}

.content_btn_lugares {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  padding: 5px 0;
}

.content_premios_1_2 {
  display: flex;
  gap: 20px;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.btn-content-premios {
  position: absolute;
  top: 20px;
  left: 20px;
}

.screen_full {
  position: absolute;
  top: 20px;
  right: 20px;
}

.test_select.active {
  opacity: 0.4;
}


@media(max-width:1366px) {



  .background-promo h2 {
    font-size: 2rem;
  }


  .board {
    grid-template-columns: repeat(5, 100px);
  }

  .cell {
    font-size: 1.4rem;
    width: 100px;
    height: 100px;
  }

}

@media(max-width:768px) {

  .background-promo {
    padding-bottom: 100px;
  }

  .modal-content2-ruleta {
    width: 80%;
  }

  .modal-content2-ruleta h1 {
    text-align: center;
    font-size: 1.8rem;
  }

  .board {
    grid-template-columns: repeat(5, 60px);
  }

  .cell {
    font-size: 1.4rem;
    width: 60px;
    height: 60px;
  }

  .content_premios_1_2 {
    flex-direction: column;
  }


  .content-btn-actions-modal {
    flex-direction: column;
  }


}