.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid #356adc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

._main_content_M_cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #440000, #4400005b, #440000), url(/dinamicas/MYMAWI_Cliente/resources/back_M_CLIENTE.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content_opcions {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 5px;
    gap: 5px;
}

.content_opcions img {
    width: 30px;
    transition: all 0.4s ease;
}

.content_opcions img:hover {
    opacity: 0.7;
    cursor: pointer;
}

._content_M_cliente_ {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

._content_form_M_clienten_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background-color: #000c44e1;
    border: white solid 1px;
    border-radius: 20px;
    padding: 20px;
}

._content_form_M_clienten_ input,
._content_form_M_clienten_ select {
    width: 220px;
}

._content_form_M_clienten_ img {
    width: 400px;
}

._content_form_M_clienten_>div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

.content_opciones {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 10px;
}

.content_opciones img {
    width: 30px;
}