.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid rgb(141, 143, 11);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content_main_mrbonus {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/dinamicas/promocion-mr-bonus/resource/5581749.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_logo_mrbonus {
    position: absolute;
    top: 5px;
    left: 5px;
}

.content_logo_mrbonus img {
    width: 80px;
}

.content_engranaje {
    position: absolute;
    top: 5px;
    right: 5px;
}

.content_engranaje img {
    width: 35px;
    transition: all 0.4s ease;
}

.content_engranaje img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.content_board_mr_bonus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
}

.content_img_promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.content_img_promo img {
    width: 250px;
}

.content_form_promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.content_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 20px;
    padding: 40px;
}

.content_input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-bottom: 10px;
}




.modal_opciones_mrbonus {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.content_modal_mrbonus {
    width: 950px;
    height: 100%;
    max-height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    position: relative;
}

.content_head_modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 10px 0;
    width: 100%;
    font-size: 12px;
}

.content_head_modal p:hover {
    opacity: 0.7;
    cursor: pointer;
}

.close_modal_icon {
    font-size: 16px;
    position: absolute;
    border-radius: 20px;
    padding: 0 8px;
    top: -10px;
    right: 0px;
    transition: all 0.4s ease;
}

.close_modal_icon:hover {
    background-color: rgb(0, 0, 58);
    color: white;
    border-radius: 20px;
    padding: 0 8px;
    opacity: 0.7;
    cursor: pointer;
}

.content_body_modal {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.info_body_modal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.info_body_modal h2 {
    margin-top: 20px;
}

.input_modal_DP {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 10px;
}

.input_modal_DP input {
    width: 200px;
}

.input_modal_DP select {
    width: 200px;
}


.select_menu {
    border-bottom: #791706 1px solid;
}

.content_head_modal p:hover.select_menu {
    border-bottom: #995d02 1px solid;
}


.datos_column_modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 10px 0;
}

.datos_column_modal select,
.datos_column_modal input {
    width: 180px;
    font-size: 16px;
}

.datos_column_modal textarea {
    width: 300px;
    height: 150px;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
    font-size: 16px;
    border: #eee solid 1px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.datos_column_modal textarea:focus {
    border: #aaaaaa solid 1px;
}

.content_btn_modal button {
    font-size: 16px;
}

.content_opcion_head {
    position: relative;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 800px;
}

.styled-table thead {
    background: rgb(9, 24, 53);
    color: #fff;
}

.styled-table th,
.styled-table td {
    padding: 8px 8px;
    font-size: 10px !important;
    text-align: center;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    background-color: #fff;
    color: #000;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.table-result {
    width: 100%;
    overflow-x: auto;
}

.color-gray {
    font-size: 9px;
    color: gray;
}

.item_full_screen {
    width: 100vw !important;
    max-height: 100vh !important;
    border-radius: 0 !important;
}

.content_expand {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.content_expand img {
    width: 15px;
    transition: all 0.4s ease;
}

.content_expand img:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.1);
}


.content_logo_promo_mov {
    position: relative;
    left: 10px;
    top: 10px;
    margin-bottom: 20px;
}

.content_logo_promo_mov img {
    width: 180px;
}

.posici_compa_1_mr {
    position: relative;
    right: 100px;
}

.posici_compa_2_mr {
    position: relative;
    left: 80px;
}

.logo_mr {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    animation: fadeCycle 6s infinite;
    transition: opacity 1s ease-in-out;
}

/* Primera imagen visible primero */
.logo_mr:nth-child(1) {
    animation-delay: 0s;
}

/* Segunda imagen aparece luego */
.logo_mr:nth-child(2) {
    animation-delay: 3s;
}

.posi_logo_1 {
    position: relative;
    top: 0;
    left: 175px;
}

.posi_logo_2 {
    position: relative;
    top: 0;
    right: 175px;
}

@keyframes fadeCycle {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.show_form {
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    font-size: 16px;
    transition: all 0.4s ease;
}

.show_form img {
    width: 20px;
}

.show_form:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media(max-width: 768px) {
    .content_board_mr_bonus {
        flex-direction: column;
    }
}