.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content_main_ruleta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-image: linear-gradient(180deg, #0050009d, #0050009d),url(/dinamicas/promocion-ruleta-de-premios/resources/10091771.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    height: 100%;
    min-height: 100vh;
}

.notificacion_registro_dia {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    z-index: 10;
    font-size: 4rem;
    color: #000;
    position: absolute;
    top: 0;
    right: -5px;
}

.grid-caracol {
    display: grid;
    /* Creamos un grid de 10x10 para tener espacio de espiral */
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    width: 100vw;
    height: 100vh;
    gap: 5px;
    padding: 10px;
}

.cuadro {
    background: #441c17;
    border: 1px solid #441c17;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2.5rem;
}

.ficha_negro {
    background-color: black !important;
    border: white 1px solid !important;
    border-radius: 20px !important;
}

.ficha_rojo {
    background-color: rgb(148, 0, 0);
    border: white 1px solid;
    border-radius: 20px;
}

.ficha_verde {
    background-color: green;
    border: white 1px solid;
    border-radius: 20px;
}

.efect_sele {
    cursor: pointer;
    transition: all 0.4s ease;
}

.efect_sele:hover {
    transform: scale(1.1);
}

.content_premios {
    position: absolute;
}

.content_premios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.content_fichas_sec_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.425);
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 20px 20px 0 0;
}

.content_title_premios {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: 100px;
}

.img_logo {
    width: 100px;
    position: absolute;
    left: -30px;
}

.img_engranaje {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 10px;
    right: 0;
}

.img_engranaje img {
    width: 40px;
}

.content_fichas_sec_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.425);
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 0 0 20px 20px;
}

.content_xfichas {
    padding: 20px;
    border-radius: 20px;
    background-color: black;
    border: white 1px solid;
}

.moneda_x2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.moneda_x2::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/dinamicas/promocion-ruleta-de-premios/resources/X2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;
}

.moneda_x3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.moneda_x3::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/dinamicas/promocion-ruleta-de-premios/resources/X3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;
}

.moneda_x5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.moneda_x5::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/dinamicas/promocion-ruleta-de-premios/resources/X5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;
}

.moneda_mymawi {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.moneda_mymawi::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/dinamicas/promocion-ruleta-de-premios/resources/ficha_mymawi.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;
}


.moneda_ganadora {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: all;
    opacity: 1;
}

.moneda_ganadora::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/dinamicas/promocion-ruleta-de-premios/resources/ficha_ganadora.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;
}

.content_controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 30px;
    background-color: black;
}

.item_disable {
    opacity: 0.7;
    pointer-events: none;
}

.modal_opciones_dinamica {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.content_modal_dinamica {
    width: 950px;
    height: 100%;
    max-height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    position: relative;
}

.content_head_modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 10px 0;
    width: 100%;
    font-size: 12px;
}

.content_head_modal p:hover {
    opacity: 0.7;
    cursor: pointer;
}

.close_modal_icon {
    font-size: 16px;
    position: absolute;
    border-radius: 20px;
    padding: 0 8px;
    top: -10px;
    right: 0px;
    transition: all 0.4s ease;
}

.close_modal_icon:hover {
    background-color: rgb(0, 0, 58);
    color: white;
    border-radius: 20px;
    padding: 0 8px;
    opacity: 0.7;
    cursor: pointer;
}

.content_body_modal {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.info_body_modal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.info_body_modal h2 {
    margin-top: 20px;
}

.input_modal_DP {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 10px;
}

.input_modal_DP input {
    width: 200px;
}

.input_modal_DP select {
    width: 200px;
}


.select_menu {
    border-bottom: #791706 1px solid;
}

.content_head_modal p:hover.select_menu {
    border-bottom: #995d02 1px solid;
}

.table_ya_tiene_bono {
    color: rgb(8, 209, 8);
    font-size: 0.5rem;
}

.table_btn_enviar_bono {
    background-color: #10101a;
    color: white;
    border: none;
    padding: 2px 5px;
    font-size: 0.5rem;
    transition: all 0.4s ease;
    border-radius: 4px;
}

.table_btn_enviar_bono:hover {
    background-color: #4c4c69;
}

.table_input_bono_portal {
    width: 40px;
    font-size: 0.5rem;
    border: rgb(219, 219, 219) solid 1px;
    border-radius: 10px;
    padding: 3px 4px;
}

.table_input_bono_portal:focus {
    outline: none;
    border: #aaaaaa solid 1px;
}

.datos_column_modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 10px 0;
}

.datos_column_modal select,
.datos_column_modal input {
    width: 180px;
    font-size: 16px;
}

.datos_column_modal textarea {
    width: 300px;
    height: 150px;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
    font-size: 16px;
    border: #eee solid 1px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.datos_column_modal textarea:focus {
    border: #aaaaaa solid 1px;
}

.content_btn_modal button {
    font-size: 16px;
}

.content_opcion_head {
    position: relative;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 800px;
}

.styled-table thead {
    background: rgb(9, 24, 53);
    color: #fff;
}

.styled-table th,
.styled-table td {
    padding: 8px 8px;
    font-size: 10px !important;
    text-align: center;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    background-color: #fff;
    color: #000;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.table-result {
    width: 100%;
    overflow-x: auto;
}

.item_full_screen {
    width: 100vw !important;
    max-height: 100vh !important;
    border-radius: 0 !important;
}

.content_expand {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.content_expand img {
    width: 15px;
    transition: all 0.4s ease;
}

.content_expand img:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.1);
}

img {
    width: 80px;
    transition: all 0.4s ease;
}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
}

@media(max-width: 1000px) {
    img {
        width: 50px;
    }
}

@media(max-width: 1366px) {

    .moneda_x2::before,
    .moneda_x3::before,
    .moneda_x5::before,
    .moneda_mymawi::before,
    .moneda_ganadora::before {
        width: 40px;
        height: 40px;
    }
}