<section class="content_main_create">
    <div id="content_form" class="content_form">
        <h2>Crear Número de Directorio</h2>
        <small><strong style="color: red;">*</strong>Este formulario solo sirve para crear Números del directorio.<strong style="color: red;">*</strong>
            <br />
            Por favor crear el usuario con un # valido
        </small>
        <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre">
        <input class="form-control" type="text" name="numero" id="numero" placeholder="Número">
        
        <button id="btn_create_user" title="Crear Usuario" class="btn btn-primary">Enviar</button>
    </div>
</section>