.inicio {
    width: 100%;
    position: relative;
}

.crear_usuario {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.crear_usuario:hover {
    opacity: 0.7;
}

.crear_usuario img{
    width: 30px;
}

.inicio>h2 {
    padding: 20px 0;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(70, 131, 180, 0.075);
    border-radius: 20px 20px 0 0;
}

.grid-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    border: none;
    background-color: rgba(70, 131, 180, 0.075);
    border-radius: 0px 0px 20px 20px;
    padding: 20px 15px;
}

.card_integrador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
    background-color: #1F253A;
    overflow: hidden;
}

.content_img_card_integrador {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content_img_card_integrador img {
    width: 100%;
    height: auto;
}

.notifiacion_resultado_partido {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 5px;
}

.notifiacion_resultado_partido a {
    padding: 6px 10px;
    border-radius: 10px;
    text-decoration: none;
    background: rgba(0, 0, 0, .5);
    color: greenyellow;
    font-size: 0.8rem;
}

.notifiacion_resultado_partido a:hover {
    color: rgb(117, 173, 33);
    cursor: pointer;
}

.notifiacion_comunicado_partido {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    gap: 5px;
}

.notifiacion_comunicado_partido a {
    padding: 6px 10px;
    border-radius: 10px;
    text-decoration: none;
    background: rgba(0, 0, 0, .5);
    color: greenyellow;
    font-size: 0.8rem;
    transition: all 0.4s ease;
}

.notifiacion_comunicado_partido a:hover {
    color: rgb(117, 173, 33);
    cursor: pointer;
}

.content_video_promo {
    position: absolute;
    top: 63px;
    right: 20px;
}

.content_video_promo img {
    width: 30px;
    transition: all .4s ease;
}

.content_video_promo img:hover {
    opacity: 0.7;
}

.content_text_card_integrador {
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    text-align: center;
    position: relative;
}

.btn_a_1 {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 10px;
    background: #2C16B0;
    color: white;
    font-weight: 600;
    transition: all 0.4s ease;
    cursor: pointer;
    border: none;
}

.btn_a_1:hover {
    background: #6622F8;
}

.btn_a_2 {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 10px;
    background: #2C16B0;
    color: white;
    font-weight: 600;
    transition: all 0.4s ease;
    cursor: pointer;
    border: none;
    display: none;
}

.btn_a_2:hover {
    background: #6622F8;
}

.modal_text_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    z-index: 20;
    background-color: black;
    color: white !important;
}

.cerrar_comunicado {
    position: absolute;
    top: -50px;
    right: 30px;
}

.cerrar_comunicado img {
    width: 40px;
    transition: all 0.4s ease;
}

.cerrar_comunicado img:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media(max-width: 1366px) {
    .content_text_card_integrador {
        font-size: 1rem;
    }

    .card_integrador {
        width: 280px;
    }
}

@media (max-width:768px) {
    .content_box_comentario {
        width: 100%;
    }

    .grid-cards {
        justify-content: center;
        align-items: center;
    }

    .card_integrador {
        width: 300px;
        height: 320px;
    }
}