<div class="inicio">
    <h2>Dinámicas</h2>
    <div class="grid-cards">

        <div class="item_admin_view card_integrador">
            <div class="content_img_card_integrador">
            </div>
            <div class="content_text_card_integrador">
                <div class="content_btn_a">
                    <a class="btn_a_2 item_admin_promotor" href="#">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/dinamica_test/dinamica_test.html">Ver
                        Dinámica</a>
                </div>
            </div>
        </div>

        <div class="item_admin_view card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-mr-bonus/mrbonus.html">
                    <img style="width: 160px;" src="/dinamicas/promocion-mr-bonus/resource/MRBONUS_LOGO.png"
                        alt="promo_aladdin_dados_de_poker">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Mr. Bonus</h3>
                <div class="notifiacion_comunicado_partido">
                    <a title="Comunicado" target="_blank"
                        href="/dinamicas/promocion-mr-bonus/documents/Comunicado_J_MR_Bonus.pdf">
                        Comunicado</a>
                </div>
                <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor" href="https://docs.google.com/spreadsheets/d/1qOBY03Bek9LaV35AOUUX7y-iBUDq9bbXVsvpOXpMZXI/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-mr-bonus/mrbonus.html">Ver
                        Dinámica</a>
                </div>
                <!-- <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor"
                        href="https://docs.google.com/spreadsheets/d/1qXTsN-rSwmmlAAH_JeX1kv3Scz0WZXxLphub7bWBpXM/edit?gid=0#gid=0">Ver
                        Información
                    </a>
                    <a class="btn_a_1" onclick="AlertaDesarrollo()">Ver Dinámica</a>
                </div> -->
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-feliz-cumpleanios/cumpleanios.html">
                    <img style="width: 250px;"
                        src="/dinamicas/promocion-feliz-cumpleanios/resources/Logo_Feliz_Cumpleanios.png"
                        alt="promo_aladdin_dados_de_poker">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Cumpleaños</h3>
                <div class="notifiacion_comunicado_partido">
                    <a title="Comunicado" target="_blank"
                        href="/dinamicas/promocion-feliz-cumpleanios/documents/Comunicado_No_J1698_Sorteos_de_Cumpleanioos_2025.pdf">
                        Comunicado</a>
                </div>
                <div class="content_video_promo">
                    <a title="Video Instructivo" target="_blank" href="https://www.youtube.com/watch?v=9WCMdI3mIIY"><img
                            src="/resource/logo_youtube.png" alt="Integrador"></a>
                </div>
                <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor"
                        href="https://docs.google.com/spreadsheets/d/1XwmKwFgRFY6f_7_ZtIBodY9NKrowqYWRI1JToB-1LFE/edit?gid=1617672583#gid=1617672583">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-feliz-cumpleanios/cumpleanios.html">Ver
                        Dinámica</a>
                </div>
                <!-- <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor"
                        href="https://docs.google.com/spreadsheets/d/1qXTsN-rSwmmlAAH_JeX1kv3Scz0WZXxLphub7bWBpXM/edit?gid=0#gid=0">Ver
                        Información
                    </a>
                    <a class="btn_a_1" onclick="AlertaDesarrollo()">Ver Dinámica</a>
                </div> -->
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-rally-de-puntos/rally-de-puntos.html">
                    <img style="width: 250px;"
                        src="/dinamicas/promocion-rally-de-puntos/resources/Rally_de_puntos_logo.png"
                        alt="promo_aladdin_dados_de_poker">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Rally de Premios</h3>
                <div class="notifiacion_comunicado_partido">
                    <a title="Comunicado Digital" target="_blank"
                        href="/dinamicas/promocion-rally-de-puntos/documents/comunicado_digital_rally_de_puntos.pdf">
                        Comunicado</a>
                    <a title="Comunicado" target="_blank"
                        href="/dinamicas/promocion-rally-de-puntos/documents/J1692_Rally_de_Puntos.pdf">
                        Comunicado</a>
                </div>
                <div class="content_video_promo">
                    <a title="Video Instructivo" target="_blank" href="https://www.youtube.com/watch?v=ieLpuqVLg94"><img
                            src="/resource/logo_youtube.png" alt="Integrador"></a>
                </div>
                <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor"
                        href="https://docs.google.com/spreadsheets/d/1k9uaNBdRimWsXXz5XaBgpPy_sw9aGEcwXnnXjnCJZqs/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-rally-de-puntos/rally-de-puntos.html">Ver
                        Dinámica</a>
                </div>
                <!-- <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor"
                        href="https://docs.google.com/spreadsheets/d/1qXTsN-rSwmmlAAH_JeX1kv3Scz0WZXxLphub7bWBpXM/edit?gid=0#gid=0">Ver
                        Información
                    </a>
                    <a class="btn_a_1" onclick="AlertaDesarrollo()">Ver Dinámica</a>
                </div> -->
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-Escaleras/tren.html">
                    <img src="/resource/PROMO-TREN-PREMIOS.png" alt="promo_aladdin">
                </a>

            </div>
            <div class="content_text_card_integrador">
                <h3>Tren de Premios</h3>
                <div class="notifiacion_comunicado_partido item_admin_promotor">
                    <a target="_blank"
                        href="/dinamicas/promocion-Escaleras/documents/Tren_de_Premios.pdf">Comunicado</a>

                </div>
                <div class="content_btn_a">
                    <a class="btn_a_2 item_admin_promotor" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1XRJ_i2BmgvcJ9zPH5Rj0JaDagKUCDI6-QDXEUFckl7I/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-Escaleras/tren.html">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/MYMAWI-Te-premia/mymawi.html">
                    <img style="width: 250px;" src="/dinamicas/MYMAWI-Te-premia/resources/MY-MAWI-BLANCO.png"
                        alt="promo_aladdin">
                </a>

            </div>
            <div class="content_text_card_integrador">
                <h3>MYMAWI Te Premia</h3>
                <div class="notifiacion_comunicado_partido item_admin_promotor">
                    <a target="_blank"
                        href="/dinamicas/MYMAWI-Te-premia/documents/Bquilla_Comunicado_J1700_My_Mawi_te_premia.pdf">Comunicado
                        B.</a>
                    <a target="_blank"
                        href="/dinamicas/MYMAWI-Te-premia/documents/Comunicado_J1699_My_Mawi_te_premia.pdf">Comunicado</a>
                </div>
                <div class="content_btn_a">
                    <a class="btn_a_2 item_admin_promotor" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1xUCpT1lDpzHpOFxW_AlguKD5N-qMMSwIVCDSkBOU4J8/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/MYMAWI-Te-premia/mymawi.html">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-dados-de-poker/dados-de-poker.html">
                    <img style="width: 150px;"
                        src="/dinamicas/promocion-dados-de-poker/resource/LOGO-DADOS-DE-POKER.png"
                        alt="promo_aladdin_dados_de_poker">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Dados de Pokér</h3>
                <div class="notifiacion_comunicado_partido">
                    <a title="Comunicado" target="_blank"
                        href="/dinamicas/promocion-dados-de-poker/documents/Comunicado_J1680_Dados_de_Poker.pdf">
                        Comunicado</a>
                </div>
                <div class="content_video_promo">
                    <a title="Video Instructivo" target="_blank" href="https://www.youtube.com/watch?v=aKOGzpa3cVE"><img
                            src="/resource/logo_youtube.png" alt="Integrador"></a>
                </div>
                <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor"
                        href="https://docs.google.com/spreadsheets/d/1qXTsN-rSwmmlAAH_JeX1kv3Scz0WZXxLphub7bWBpXM/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-dados-de-poker/dados-de-poker.html">Ver
                        Dinámica</a>
                </div>
                <!-- <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor"
                        href="https://docs.google.com/spreadsheets/d/1qXTsN-rSwmmlAAH_JeX1kv3Scz0WZXxLphub7bWBpXM/edit?gid=0#gid=0">Ver
                        Información
                    </a>
                    <a class="btn_a_1" onclick="AlertaDesarrollo()">Ver Dinámica</a>
                </div> -->
            </div>
        </div>


        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-ruleta-de-la-suerte/ruleta-dela-suerte.html">
                    <img style="width: 150px;"
                        src="/dinamicas/promocion-ruleta-de-la-suerte/resources/LOGO-RULETA-DE-LA-SUERTE-ALADDIN-2025.png"
                        alt="promo_aladdin_ruleta_de_premios">
                </a>

            </div>
            <div class="content_text_card_integrador">
                <h3>Ruleta de la Suerte</h3>
                <div class="notifiacion_comunicado_partido">
                    <a title="Comunicado" target="_blank"
                        href="/dinamicas/promocion-ruleta-de-la-suerte/document/J1518_Ruleta_de_la_Suerte_Mesas.pdf">
                        Comunicado</a>

                </div>
                <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor"
                        href="https://docs.google.com/spreadsheets/d/12C8S418cnSd-2Vio0SsfbAW7L_dgXQp6mHx3xojBNsQ/edit?gid=554817390#gid=554817390">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-ruleta-de-la-suerte/ruleta-dela-suerte.html">Ver
                        Dinámica</a>
                </div>
                <!-- <div class="content_btn_a">
                    <a class="btn_a_1" onclick="AlertaDesarrollo()">Información</a>
                    <a class="btn_a_1" onclick="AlertaDesarrollo()">Dinámica</a>
                </div> -->
            </div>
        </div>


        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-acumula-y-gana/acumula-y-gana.html">
                    <img style="width: 150px;" src="/dinamicas/promocion-acumula-y-gana/resources/logo_acumula.png"
                        alt="promo_aladdin_acumula_y_gana">
                </a>

            </div>
            <div class="content_text_card_integrador">
                <h3>Acumula y Gana</h3>
                <div class="notifiacion_comunicado_partido">
                    <a title="Comunicado" target="_blank"
                        href="/dinamicas/promocion-acumula-y-gana/documents/Comunicado_J1678_Acumula_y_Gana.pdf">
                        Comunicado</a>

                </div>
                <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor"
                        href="https://docs.google.com/spreadsheets/d/1MdGk2UYTVrqOon7SBP--sZrZrDp5jwKrrAyQSQNM5jQ/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-acumula-y-gana/acumula-y-gana.html">Ver
                        Dinámica</a>
                </div>
                <!-- <div class="content_btn_a">
                    <a class="btn_a_1" onclick="AlertaDesarrollo()">Información</a>
                    <a class="btn_a_1" onclick="AlertaDesarrollo()">Dinámica</a>
                </div> -->
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-bingo-locura/bingolocura.html">
                    <img style="width: 150px;" src="/resource/PROMO-BINgO-LOCURA.png" alt="promo_aladdin">
                </a>

            </div>
            <div class="content_text_card_integrador">
                <h3>Bingo Locura</h3>
                <div class="notifiacion_comunicado_partido item_admin_promotor">
                    <a href="/dinamicas/promocion-bingo-locura/documents/A-781_Comunicado_J1670_Bingo_locura_2025.pdf"
                        target="_blank" title="A781 Bingo Locura">Co. A781 B.Locura</a>
                    <a href="/dinamicas/promocion-bingo-locura/documents/A-781_Comunicado_J1671_super_Bingos.pdf"
                        target="_blank" title="A781 Super Bingo">Co. A781 Super B.</a>
                    <a href="/dinamicas/promocion-bingo-locura/documents/Comunicado_J1667_super_Bingos_Bquilla.pdf"
                        target="_blank" title="Comunicado Barranquilla">Co. Barranquilla</a>
                    <a href="/dinamicas/promocion-bingo-locura/documents/ComunicadoNo_J1666_Bingo_Locura_A43_y_MP53.pdf"
                        target="_blank" title="Comunicado A43 y A53">Co. A43 y A53</a>
                </div>
                <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor"
                        href="https://docs.google.com/spreadsheets/d/18ZJyg15WAMrSVGDo7qi32DVwrehcr0M0QiVQ9e9kBeA/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-bingo-locura/bingolocura.html">Ver
                        Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-halloween-misterioso-mp/halloween_misterioso_mp.html">
                    <img src="/resource/PROMO_HALLOWEEN_MISTERIOSO.png" alt="promo_aladdin">
                </a>

            </div>
            <div class="content_text_card_integrador">
                <h3>Halloween Misterioso MP</h3>
                <div class="notifiacion_comunicado_partido item_admin_promotor">
                    <a target="_blank"
                        href="/dinamicas/promocion-halloween-misterioso/documents/a43_y_a53_Halloween_Misterioso.pdf">Co.
                        A43 y A53</a>
                    <a href="/dinamicas/promocion-halloween-misterioso/documents/Halloween_Misteriosopdf.pdf"
                        target="_blank">Comunicado</a>

                </div>
                <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor"
                        href="https://docs.google.com/spreadsheets/d/18HcQ3mW0B5x6onJyXnlZY_vOXuMFYSwXpRYTSFqd0tA/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1"
                        href="/dinamicas/promocion-halloween-misterioso-mp/halloween_misterioso_mp.html">Ver
                        Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-halloween-misterioso/halloween_misterioso.html">
                    <img src="/resource/PROMO_HALLOWEEN_MISTERIOSO_2.png" alt="promo_aladdin">
                </a>

            </div>
            <div class="content_text_card_integrador">
                <h3>Halloween Misterioso AL</h3>
                <div class="notifiacion_comunicado_partido item_admin_promotor">
                    <a target="_blank"
                        href="/dinamicas/promocion-halloween-misterioso/documents/a43_y_a53_Halloween_Misterioso.pdf">Co.
                        A43 y A53</a>
                    <a href="/dinamicas/promocion-halloween-misterioso/documents/Halloween_Misteriosopdf.pdf"
                        target="_blank">Comunicado</a>

                </div>
                <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2 item_admin_promotor"
                        href="https://docs.google.com/spreadsheets/d/18HcQ3mW0B5x6onJyXnlZY_vOXuMFYSwXpRYTSFqd0tA/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-halloween-misterioso/halloween_misterioso.html">Ver
                        Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-9-portales/portales.html">
                    <img src="/resource/PROMO_LOS_NUEVE_PORTALES.png" alt="promo_aladdin">
                </a>

            </div>
            <div class="content_text_card_integrador">
                <h3>Los Nueve Portales</h3>
                <div class="notifiacion_comunicado_partido item_admin_promotor">
                    <a target="_blank" href="/dinamicas/promocion-9-portales/documents/A43_Y_A53_Los_9_Portales.pdf">Co.
                        A43 y A53</a>
                    <a href="/dinamicas/promocion-9-portales/documents/Los_9_Portales.pdf"
                        target="_blank">Comunicado</a>

                </div>
                <div class="content_btn_a">
                    <a class="btn_a_2 item_admin_promotor" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1NSmns7kucc5K3Mu3wNKO_BJfBjKypMk2GEyNkdu-HPk/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-9-portales/portales.html">Ver
                        Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-puntos-festivos/puntos-festivos.html">
                    <img src="/resource/PROMO_PUNTOS_FESTIVOS.png" alt="promo_aladdin">
                </a>

            </div>
            <div class="content_text_card_integrador">
                <h3>Puntos Festivos</h3>
                <div class="notifiacion_comunicado_partido">
                    <a target="_blank"
                        href="/dinamicas/promocion-puntos-festivos/documents/comunicado_dinamica_digital_puntos_festivos.pdf">Comunicado</a>
                    <a title=" SABADO 1, DOMINGO 2 Y LUNES FESTIVO 3 DE NOVIEMBRE " target="_blank"
                        href="/dinamicas/promocion-puntos-festivos/documents/J1683_Puntos_Festivos.pdf">Co. 1 a 3
                        Nov.</a>

                </div>
                <div class="content_btn_a">
                    <a class="btn_a_2 item_admin_promotor" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1bNPthGAmue0PTHESzFrx0K_SCclSRrG_0gtJq83oMa0/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-puntos-festivos/puntos-festivos.html">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-futbolera-VEN-COL/partido_v_c.html">
                    <img src="/resource/Venezuela_Colombia.png" alt="promo_aladdin">
                </a>
                <div class="notifiacion_resultado_partido item_admin_promotor">
                    <a target="_blank" href="/dinamicas/view-resultado-partido/resultado-partido.html">Resultado</a>
                </div>

            </div>
            <div class="content_text_card_integrador">
                <h3>Venezuela vs Colombia</h3>
                <div class="notifiacion_comunicado_partido item_admin_promotor">
                    <a target="_blank"
                        href="/dinamicas/promocion-futbolera-COL-BOL/documents/Comunicado_J1648_Marca_Gol.pdf">Comunicado</a>

                </div>
                <div class="content_btn_a">
                    <a class="btn_a_2 item_admin_promotor" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1U6Z_X-6gbg8ebocBb6w3asg7wvkKuGdI_rJjFABTg2c/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-futbolera-VEN-COL/partido_v_c.html">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-futbolera-COL-BOL/partido_c_b.html">
                    <img src="/resource/Colombia_bolivia.png" alt="promo_aladdin">
                </a>
                <div class="notifiacion_resultado_partido item_admin_promotor">
                    <a target="_blank" href="/dinamicas/view-resultado-partido/resultado-partido.html">Resultado</a>
                </div>

            </div>
            <div class="content_text_card_integrador">
                <h3>Colombia vs Bolivia</h3>
                <div class="notifiacion_comunicado_partido item_admin_promotor">
                    <a target="_blank"
                        href="/dinamicas/promocion-futbolera-COL-BOL/documents/Comunicado_J1648_Marca_Gol.pdf">Comunicado</a>

                </div>
                <div class="content_btn_a">
                    <a class="btn_a_2 item_admin_promotor" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1U6Z_X-6gbg8ebocBb6w3asg7wvkKuGdI_rJjFABTg2c/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-futbolera-COL-BOL/partido_c_b.html">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-cupido/cupido.html">
                    <img src="/resource/PROMO_FLECHAZO_CUPIDO.png" alt="promo_aladdin">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Flechazo de Cupido</h3>
                <div class="notifiacion_comunicado_partido item_admin_promotor">
                    <a target="_blank"
                        href="/dinamicas/promocion-cupido/documents/El_Flechazo_de_Cupido.pdf">Comunicado</a>

                </div>
                <div class="content_btn_a">
                    <a class="btn_a_2 item_admin_promotor" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/12mvaIfoauuC-M3d3MIX_YRs7XbdsCaSx02eVMxMi2Tw/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-cupido/cupido.html">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-perfect-match/match.html">
                    <img src="/resource/PROMO_MATCH_PERFECTO.png" alt="promo_aladdin">
                </a>

            </div>
            <div class="content_text_card_integrador">
                <h3>Match Perfecto</h3>
                <div class="notifiacion_comunicado_partido item_admin_promotor">
                    <a target="_blank"
                        href="/dinamicas/promocion-perfect-match/documents/El_Match_Perfecto.pdf">Comunicado</a>

                </div>
                <div class="content_btn_a">
                    <a class="btn_a_2 item_admin_promotor" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1x4O4uFXQ4i2vqT8jVHyL57gKHv5C-JyufWA8WNJVIFw/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-perfect-match/match.html">Ver
                        Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="/dinamicas/promocion-BlackJack/blackjack.html">
                    <img src="/resource/PROMO-BLACK-JACK-EXPRESS.png" alt="promo_aladdin">
                </a>

            </div>
            <div class="content_text_card_integrador">
                <h3>BlackJack Express</h3>
                <div class="notifiacion_comunicado_partido item_admin_promotor">
                    <a target="_blank"
                        href="/dinamicas/promocion-BlackJack/documents/BlackJack_express.pdf">Comunicado</a>

                </div>
                <div class="content_btn_a">
                    <a class="btn_a_2 item_admin_promotor" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1E8Mf024QTs4Vu9lWS7-a-x11gi4JRDle12A7mtbybW0/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="/dinamicas/promocion-BlackJack/blackjack.html">Ver
                        Dinámica</a>
                </div>
            </div>
        </div>



        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a href="https://lampara-suerte.netlify.app/">
                    <img src="/resource/PROMO_LAMAPARA_SUERTE.png" alt="promo_aladdin">
                </a>

            </div>
            <div class="content_text_card_integrador">
                <h3>Lampara de la Suerte</h3>
                <div class="notifiacion_comunicado_partido item_admin_promotor">
                    <a target="_blank"
                        href="/dinamicas/promocion-lampara-suerte/documents/A36_Y_A781_Lampara_de_La_Suerte.pdf">Co. A36
                        y A781</a>
                    <a target="_blank"
                        href="/dinamicas/promocion-lampara-suerte/documents/Lampara_de_La_Suerte.pdf">Comunicado</a>
                </div>
                <div class="content_btn_a">
                    <a class="btn_a_2 item_admin_promotor" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1raIrBpRSiAt22ED14lOXBlmNNK0zA0g09b7WW9HTYtg/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" href="https://lampara-suerte.netlify.app/">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div id="modal_text_intro" class="modal_text_intro">
            <div id="cerrar_comunicado" class="cerrar_comunicado">
                <img src="/resource/close.png" alt="Integrador">
            </div>
            <iframe src="/documents/FUNCIONES_ESPECIFICAS_CARGO_DE_PROMOTOR.pdf" width="100%" height="100%"
                frameborder="0"></iframe>
        </div>

    </div>
    <br />

</div>