* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins Ligth', sans-serif !important;
    font-size: 16px;
}

html,
body {
    height: 100%;
    background-image: url(/dinamicas/MYMAWI-Te-premia/resources/FONDO-TV-DADOS-DE-POKER-MARCOPOLO-2025.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-size: 62.5% !important;
}

.content-info-cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    padding: 20px;
    height: 100vh;
}

.content_logo_company {
    position: absolute;
    left: 10px;
    top: 10px;
}

.content_logo_company img {
    width: 100px;
}

.posici_compa_1 {
    position: relative;
    right: 100px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    animation: fadeCycle 6s infinite;
    transition: opacity 1s ease-in-out;
}

/* Primera imagen visible primero */
.logo:nth-child(1) {
    animation-delay: 0s;
}

/* Segunda imagen aparece luego */
.logo:nth-child(2) {
    animation-delay: 3s;
}

@keyframes fadeCycle {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.toggleBtn,
.btn-dados {
    width: auto;
    padding: 10px 20px;
    border-radius: 20px;
    background: #224fa1;
    color: #fff;
    font-size: 1.1rem;
    transition: background 0.5s;
    border: none;
    cursor: pointer;
}

.toggleBtn {
    position: fixed;
    right: 15px;
    top: 60%;
    z-index: 1000;
}

.toggleBtn2 {
    width: auto;
    padding: 10px 20px;
    border-radius: 20px;
    background: #224fa1;
    color: #fff;
    font-size: 1.1rem;
    transition: background 0.5s;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 15px;
    top: 60%;
    z-index: 1000;
}

.toggleBtn:hover,
.toggleBtn2:hover,
.btn-dados:hover {
    background: rgb(17, 36, 207);
}

.hidden {
    opacity: 0;
    height: 0;
    pointer-events: none;
    visibility: hidden;
    display: none;
}

.bloque1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.bloque1-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloque1-content-img img {
    width: 70%;
}

.content_opciones_mtp {
    position: absolute;
    top: 10px;
    right: 10px;
}

.content_opciones_mtp img {
    width: 30px;
    transition: all 0.4s ease;
}

.content_opciones_mtp img:hover {
    opacity: 0.7;
    cursor: pointer;
}


.datos {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
}

.datos select,
.datos input {
    font-size: 16px;
}

.casinos,
.categoria,
.nombre,
.cedula {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-btn-enviar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.content-btn-enviar button {
    font-size: 16px;
}

.content-btn-enviar input {
    font-size: 16px;
}

.logo-centrado {
    position: relative;
    top: 0;
    z-index: 999;
    max-width: 100%;
}

/* ==== TABLA RESPONSIVE ==== */
.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 800px;
}

.styled-table thead {
    background: rgb(34, 79, 161);
    color: #fff;
}

.styled-table th,
.styled-table td {
    padding: 8px 8px;
    font-size: 10px !important;
    text-align: center;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    background-color: #fff;
    color: #000;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.table-result {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}


.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}


.modal-content2 {
    background-color: #fff;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.modal-content3 {
    background-color: #fff;
    padding: 20px;
    width: 1200px;
    border-radius: 10px;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.modal-body {
    overflow-y: auto;
    max-height: 60vh;
    padding-right: 10px;
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content2>h2 {
    text-align: center;
}

.color-gray {
    font-size: 0.8rem;
    color: gray;
}

.content_expand {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.content_expand img {
    width: 15px;
    transition: all 0.4s ease;
}

.content_expand img:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.1);
}

.item_full_screen {
    width: 100vw !important;
    max-height: 100vh !important;
    border-radius: 0 !important;
}


.modal_opciones_MTP {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.content_modal_MTP {
    width: 950px;
    height: 100%;
    max-height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    position: relative;
}

.content_head_modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 10px 0;
    width: 100%;
    font-size: 12px;
}

.content_head_modal p:hover {
    opacity: 0.7;
    cursor: pointer;
}

.close_modal_icon {
    font-size: 16px;
    position: absolute;
    border-radius: 20px;
    padding: 0 8px;
    top: -10px;
    right: 0px;
    transition: all 0.4s ease;
}

.close_modal_icon:hover {
    background-color: rgb(0, 0, 58);
    color: white;
    border-radius: 20px;
    padding: 0 8px;
    opacity: 0.7;
    cursor: pointer;
}

.content_body_modal {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.info_body_modal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.info_body_modal h2 {
    margin-top: 20px;
}

.input_modal_DP {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 10px;
}

.input_modal_DP input {
    width: 200px;
}

.input_modal_DP select {
    width: 200px;
}


.select_menu {
    border-bottom: #791706 1px solid;
}

.content_head_modal p:hover.select_menu {
    border-bottom: #995d02 1px solid;
}


.datos_column_modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 10px 0;
}

.datos_column_modal select,
.datos_column_modal input {
    width: 180px;
    font-size: 16px;
}

.datos_column_modal textarea {
    width: 300px;
    height: 150px;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
    font-size: 16px;
    border: #eee solid 1px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.datos_column_modal textarea:focus {
    border: #aaaaaa solid 1px;
}

.content_btn_modal button {
    font-size: 16px;
}

.content_opcion_head {
    position: relative;
}

.mi-popup {
    font-size: 16px;
}

.casinos_mymawi {
    font-size: 16px;
}

.casinos_table {
    font-size: 10px;
    position: absolute;
    color: black;
    top: -30px;
    width: auto;
}

/* ===== MEDIA QUERIES ===== */

@media (max-width: 1024px) {
    .styled-table {
        font-size: 13px;
    }

    .datos {
        flex-direction: column;
    }

    .table-result {
        width: 100%;
        overflow-x: auto;
        padding: 0 10px;
    }


    .styled-table {
        min-width: 1000px;
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
    }

    .content_modal_MTP {
        width: 100vw;
        max-height: 100vh;
        border-radius: 0;
    }

}

@media (max-width: 768px) {
    .bloque1 {
        padding: 0 10px;
    }

    .toggleBtn {
        top: 45%;
    }

    .styled-table {
        font-size: 12px;
    }
}

@media (max-width: 480px) {

    .toggleBtn,
    .btn-dados {
        font-size: 1rem;
        padding: 8px 14px;
    }

    .styled-table {
        font-size: 11px;
    }
}