.content_otras_acciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 255, 255, 0.253);
    border-radius: 20px;
    gap: 35px;
}

.content_otras_acciones a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    transition: all 0.4s ease;
}

.content_otras_acciones a:hover {
    color: gray;
}

.content_info_excel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    gap: 32px;
    background-color: rgba(0, 255, 255, 0.253);
    border-radius: 20px;
}

.content_excel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 20px;
    gap: 10px;
}

.content_excel a {
    color: white;
    transition: all 0.4s ease;
}

.content_excel a:hover {
    opacity: 0.7;
}

.content_excel li{
    margin-left: 20px;
}

@media(max-width:768px) {
    .content_otras_acciones {
        height: 100vh;
        flex-direction: column;
    }
}