<div class="content_otras_acciones">
    <a target="_blank" href="/dinamicas/promocion_lo_hacemos_en_grande/grandaladdin.html" alt="Aladdin">
        <span>Ruleta Grand Aladdin</span>
    </a>
    <a target="_blank" href="/dinamicas/promocion_lo_hacemos_en_grande_p/grandaladdin.html" alt="Aladdin">
        <span>Otra Ruleta Grand Aladdin</span>
    </a>
    <a target="_blank" href="https://vivealaddin.com/" title="Web Aladdin">
        <span>Aladdin</span>
    </a>
    <a target="_blank" href="https://marcopolocolombia.com/" title="Web Marco Polo">
        <span>Marco Polo</span>
    </a>
    <a target="_blank" href="/dinamicas/CoWorking/coworking.html" title="Pedidos CoWorking">
        <span>CoWorking</span>
    </a>
    <a target="_blank" href="/dinamicas/CoWorking/view/viewdespacho/viewdespacho.html" title="Pedidos CoWorking">
        <span>Pedidos CoWorking</span>
    </a>
    <a target="_blank" href="/dinamicas/sudoku/aviso-sudoku.html" title="Sudoku Test">
        <span>Sudoku</span>
    </a>
    <a href="#usuarios" title="Sudoku Test">
        <span>Usuarios</span>
    </a>
    <a target="_blank" href="/formularios/experiencias-breve/xpbreve.html">
        Experiencias Breve
    </a>
    <a target="_blank" href="/dinamicas/promocion-ruleta-dinamica/admin_view_ruleta/admin_view_ruleta.html">
        Ruleta admin
    </a>
    <a target="_blank" href="/dinamicas/promocion-ruleta-dinamica/ruleta_view/ruleta_view.html">
        Ruleta promoción
    </a>
    <a href="#crear_usuario">
        Crear Usuario
    </a>
</div>
<br />
<div class="content_info_excel item_admin_view">
    <h2>Excel - All</h2>
    <div class="content_excel">
        <a target="_blank"
            href="https://docs.google.com/spreadsheets/d/1U-Yijbxlek-fXLdSn3Cg9YW7Q_KPbJDc9Ied06RV4x4/edit?gid=0#gid=0">
            Contacto casino aladdin</a>
        <a target="_blank"
            href="https://docs.google.com/spreadsheets/d/1-CWOSLc1kGxgir7fQOHyeF9Qygm18hC-0TRK78R2f_k/edit?gid=0#gid=0">
            Contacto casino MarcoPolo</a>
        <a target="_blank"
            href="https://docs.google.com/spreadsheets/d/1oZVs6mlve0hngitQLMmGnJx_W9spofKnm13aIZb5gJw/edit?gid=0#gid=0">Chat
            - test</a>
        <ul>
            <p>CoWorking</p>
            <li>
                <a target="_blank"
                    href="https://docs.google.com/spreadsheets/d/19TylOPNKTkRA1Yymd-8Wu1dIe36ev4pUuXasI9D7ja8/edit?gid=0#gid=0">control
                    CoWorking</a>
            </li>
            <li>
                <a target="_blank"
                    href="https://docs.google.com/spreadsheets/d/1Lf4zP3Wz5EOWpIn6m0B2b8NGPVklLMNUw6njgYXZPKc/edit?gid=0#gid=0">Pedido
                    por cedula</a>
            </li>
        </ul>
        <a target="_blank"
            href="https://docs.google.com/spreadsheets/d/17NIQil0qJQUJC7XjsOBwB7ogwgwgnQ3JqDabxwBwQRY/edit?gid=0#gid=0">Sudoku
            - test</a>
    </div>
    <div>
        <button id="consultar_test">Consultar</button>
    </div>
</div>