* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url(/dinamicas/MYMAWI-Te-premia/resources/FONDO-TV-DADOS-DE-POKER-MARCOPOLO-2025.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content-info-cliente{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bloque1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}

.bloque1-content-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bloque1-content-img img{
    width: 400px;
}

.datos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.datos label {
    color: white;
}

@media(max-width: 768px){
    .datos{
        flex-direction: column;
    }

    .content-btn-enviar{
        padding: 20px 0;
    }
}