<section class="content_main_grand_aladdin">
    <div class="content_title_grand_aladdin">
        <h3></h3>
        <h3></h3>
    </div>
    <div class="content_table_grand_aladdin">
        <table class="styled-table">
            <thead>
                <tr class="header_table_no">
                    <th>Ciudad</th>
                    <th>Dínamica</th>
                </tr>

                <tr class="header_table_no_2">
                    <th>Ciudad</th>
                    <th>Dínamica</th>
                    <th>Finalistas. <img class="img_excel" src="/resource/excel_logo.png" alt="Aladdin"></th>
                    <th>Semi-Finalistas. <img class="img_excel" src="/resource/excel_logo.png" alt="Aladdin">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Cali</th>
                    <td> <a href="/dinamicas/promocion-ruleta-six-casinos/components/casino-cali/cali.html">Dinámica</a>
                    </td>
                    <td><a class="item_admin_promotor" target="_blank"
                            href="https://docs.google.com/spreadsheets/d/10f38yNuAOM9Cl--p9QmhWgcw9Iot5vsb9AEaqbkD0Q4/edit?gid=0#gid=0">Excel
                        </a></td>
                    <td><a class="item_admin_promotor" target="_blank"
                            href="https://docs.google.com/spreadsheets/d/1kO8A0zwAz9MoDPpuMttUXJghUEeNyFHHbdcW_pZoFGE/edit?gid=0#gid=0">Excel
                        </a></td>
                </tr>
                <tr>
                    <th>Pereira</th>
                    <td> <a
                            href="/dinamicas/promocion-ruleta-six-casinos/components/casino-pereira/pereira.html">Dinámica</a>
                    </td>
                    <td><a class="item_admin_promotor" target="_blank"
                            href="https://docs.google.com/spreadsheets/d/1MTYI_HoPgKPmpWG3FjgB1WMQv6DKeGEPsfyRR9A-6Fc/edit?gid=0#gid=0">Excel
                        </a></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Buga</th>
                    <td><a href="/dinamicas/promocion-ruleta-six-casinos/components/casino-buga/buga.html">Dinámica</a>
                    </td>
                    <td><a class="item_admin_promotor" target="_blank"
                            href="https://docs.google.com/spreadsheets/d/1h35ajM0hekbIhJhuvL_-nBwcoPLjXQxYTuWPacb7Ldk/edit?gid=0#gid=0">Excel
                        </a></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Túlua</th>
                    <td><a
                            href="/dinamicas/promocion-ruleta-six-casinos/components/casino-tulua/tulua.html">Dinámica</a>
                    </td>
                    <td><a class="item_admin_promotor" target="_blank"
                            href="https://docs.google.com/spreadsheets/d/1-fFFTUY4FqHBFeVt4h5QUgLzgWd9JZUqND9MNLFYmvU/edit?gid=0#gid=0">Excel
                        </a></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>