* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: auto;
    margin: 0;
    padding: 0;
    height: 100%;
}


.background-promo {
    background-image: linear-gradient(180deg, #00000075, #00000075), url(/dinamicas/promocion-shangai/resources/shanghai-03008_result.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: auto;
    height: 100%;
    min-height: 100vh;
}

.contenedor-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;
    border: #e9e9e9 solid 2px;
    max-width: 1200px;
    border-radius: 20px;
    box-shadow: #f0f0f0 2px 2px 2px;
    background-color: #ffffff;
}

.engranage_opciones {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 30px;
}

.engranage_opciones img {
    width: 30px;
    transition: all 0.4s ease;
}

.engranage_opciones img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.control-finalista {
    display: flex;
    gap: 10px;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 40px 0;
}

.content-logos img {
    width: 350px;
}

.content-logos h1 {
    color: white;
    font-size: 4rem;
}

.content_logo_company {
    position: absolute;
    left: 10px;
    top: 10px;
}

.content_logo_company img {
    width: 100px;
}

.posici_compa_1 {
    position: relative;
    right: 100px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    animation: fadeCycle 6s infinite;
    transition: opacity 1s ease-in-out;
}

/* Primera imagen visible primero */
.logo:nth-child(1) {
    animation-delay: 0s;
}

/* Segunda imagen aparece luego */
.logo:nth-child(2) {
    animation-delay: 3s;
}

.posi_logo_1 {
    position: relative;
    top: 0;
    left: 175px;
}

.posi_logo_2 {
    position: relative;
    top: 0;
    right: 175px;
}

@keyframes fadeCycle {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.loader-local {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    font-size: 1.2rem;
    color: #444;
}

.spinner2 {
    border: 6px solid #ccc;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.table-scrolld {
    max-height: 450px;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 800px;
}

.styled-table thead {
    background: rgb(34, 79, 161);
    color: #fff;
}

.styled-table th,
.styled-table td {
    padding: 12px 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    background-color: #fff;
    color: #000;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.table-result {
    width: 100%;
    overflow-x: auto;
}

.styled-table {
    min-width: 1000px;
    width: 100%;
}

.content-actions {
    display: flex;
    width: 100%;
}

.content-actions-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content-actions-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.modal-gran {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}


.modal-content2-gran {
    background-color: #fff;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.modal-content-gran {
    background-color: #fff;
    padding: 20px;
    width: 1200px;
    border-radius: 10px;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.modal-body-gran {
    overflow-y: auto;
    max-height: 60vh;
    padding-right: 10px;
}

.content-text-area {
    display: flex;
    align-items: center;
    gap: 5px;
}

.content-text-area textarea {
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
    border: #eee solid 1px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.content-text-area textarea:focus {
    border: #aaaaaa solid 1px;
}

.close-gran {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.color-gray {
    font-size: 0.8rem;
    color: gray;
}

.table_input_bono_pp {
    width: 40px;
    font-size: 0.5rem;
    border: rgb(219, 219, 219) solid 1px;
    border-radius: 10px;
    padding: 3px 4px;
}

.table_input_bono_pp:focus {
    outline: none;
    border: #aaaaaa solid 1px;
}

.table_input_bono_pp_cliente {
    width: 40px;
    font-size: 0.5rem;
    border: rgb(219, 219, 219) solid 1px;
    border-radius: 10px;
    padding: 3px 4px;
}

.table_input_bono_pp_cliente:focus {
    outline: none;
    border: #aaaaaa solid 1px;
}

.btn-enviar-pp {
    font-size: 10px !important;
    padding: 2px 5px !important;
    border-radius: 10px !important;
}

.btn-enviar-pp-cliente {
    font-size: 10px !important;
    padding: 2px 5px !important;
    border-radius: 10px !important;
}

.filtro-casino {
    position: absolute;
    top: 20px;
    right: 100px;
    gap: 15px;
    font-size: 16px;
    display: none;
}

.filtro-casino select {
    font-size: 16px;
}

@media(max-width:768px) {

    .contenedor-inicial {
        width: 95%;
    }

    .control-finalista {
        flex-direction: column;
    }

    .styled-table th,
    .styled-table td {
        width: 20px;
        padding: 10px 0;
    }

    .table-scrolld {
        max-width: 350px;
        max-height: 450px;
    }

    .content-actions {
        flex-direction: column-reverse;
    }

    .content-actions-1 {
        padding: 15px;
        width: 100%;
    }

    .content-actions-2 {
        padding: 15px;
        width: 100%;
    }

    .modal-content2-gran {
        width: 90%;
    }

    .content-logos img {
        width: 250px;
        padding-bottom: 40px;
    }

    .posi_logo_1 {
        left: 131px;
    }

    .posi_logo_2 {
        right: 131px;
    }
}